# ignore directories in the git-generated distributed .zip archive
/.github export-ignore
/tests export-ignore
.gitattributes export-ignore
.gitignore export-ignore
generate-examples.php export-ignore
generate-verified-files.php export-ignore
phpunit.xml export-ignore
examples.md export-ignore
phpstan.neon.dist export-ignore
